-#  This file is app/views/movies/index.html.haml
%h1 All Movies 

= @ratings
.movie_filter
= form_tag movies_path, :method => :get do
  Include: 
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]"
  = submit_tag 'Refresh', :id => "ratings_submit"

/ Make sure that your form elements have the following ids. 
/ The submit button for filtering by ratings should have an HTML element id of ratings_submit. 
/ Each checkbox  should have an HTML element id of ratings_#{rating}, 
/ where the interpolated rating should be the rating itself, such as “PG-13”, “G”. 
/ An example of an id for the checkbox for PG-13 is ratings_PG-13.



%table#movies
  %thead
    %tr
      %th{class: @sort == "title" ? "hilite" : ""}
        = link_to "Movie Title", movies_path(sort: 'title', ratings: params[:ratings]), id: 'title_header'
      %th Rating
      %th{class: @sort == "release_date" ? "hilite" : ""}
        = link_to "Release Date", movies_path(sort: 'release_date', ratings: params[:ratings]), id: 'release_date_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
